<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog Coaching</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
<%- include("head.ejs") %>
<section id="content">
    <div class="content__banner">
        <img src="images/imgs_blog/bgr-banner.png" alt="banner">
        <div class="banner-content">
            <h2>BLOG</h2>
            <p>How to <span style="font-weight: 700;"> lead</span> your life</p>
        </div>
    </div>
    <div class="container">
        <div class="main">
            <% for (var i = 0; i < category.length; i++) { %>
            <div class="main-item">
                <img src="<%= category[i].Images %>" alt="blog">
                <div class="item-text">
                    <div class="item-text__da">
                        <p><%= category[i].PostDate %></p>
                        <p><%= category[i].Author %></p>
                    </div>
                    <h3 class="item-text__title"><%= category[i].Heading %></h3>
                    <p class="item-text__desc"><%= category[i].Review %></p>
                    <p><a href="/blog-detail?id=<%= category[i].ID %>" class="link-more"> Read more <i class="fa-solid fa-angles-right"></i></a></p>
                </div>
            </div>
            <% } %>

        </div>
        <div class="sidebar">
            <div class="sidebar-box">
                <div class="sidebar-title">
                    <h2>Latest Posts</h2>
                    <% var flag = 0;
                        for (var i = (category.length - 1) ;i > 0; i--) {
                            flag ++;
                        if( flag <= 2 ){ %>
                            <div class="sidebar-item">
                                <img src="<%= category[i].Images %>" alt="blog">
                                <p class="sidebar-item__date"><%= category[i].PostDate %></p>
                                <h2 class="sidebar-item__text"><a href="/blog-detail?id=<%= category[i].ID %>"><%= category[i].Heading %></a></h2>
                            </div>
                    <% } } %>
                </div>
            </div>
            <div class="sidebar-box">
                <div class="sidebar-title">
                    <h2>Tag</h2>
                    <div class="sidebar-item ">
                        <div class="btn-1">
                            <a href="/blog?category=Business"><button class="btn2">Business</button></a>
                            <a href="/blog?category=Health"><button class="btn3">Health coach</button></a>
                            <div class="clear"></div>
                        </div>

                        <div class="btn-2">
                            <a href="/blog?category=Money"><button class="btn1">Money</button></a>
                            <a href="/blog?category=Live"><button class="btn1">Live</button></a>
                            <a href="/blog?category=Lifestyle"><button class="btn2">Life style</button></a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-number">
            <div class="hover icon">
                <a href="#"><i class="fa-solid fa-angles-left"></i></a>
            </div>
            <p class="number1 number"><a href="#">1</a></p>
            <p class="number2 number hover"><a href="#">2</a></p>
            <p class="number3 number hover"><a href="#">3</a></p>
            <div class="hover icon">
                <a href="#"><i class="fa-solid fa-angles-right"></i></a>
            </div>
        </div>
    </div>
</section>
<%- include("footer.ejs") %>
<%- include("common_link_js") %>
</body>
</html>