<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/coaching_course.css">



</head>
<body>
<%- include("head.ejs") %>
<section style="width: 1440px;margin: 0 auto;margin-bottom: 80px">

    <%- include("content_top_heading.ejs")%>
    <div class="container">
        <div style="cursor: pointer ;" class="content-name" onclick="show_hide()" >
            <h3>COACHING COURSE</h3>
            <span style=" cursor: pointer;display: block;margin-left: 60px" >
                <i style="font-size: 30px;
                 color: #ffff;" class="fa-solid fa-angle-right"></i>
            </span>
        </div>
        <div id="show" class="sidebar">
            <div class="filter">
                <button style="font-size: 18px;margin-bottom: 20px;margin-left: 1207px;cursor: pointer;text-decoration: underline;" type="reset" onclick="resetAll()">Clear all</button>
            </div>
            <div class="checkbox33">
                <div class="types">
                    <p style="color: #3F3A64">Course types</p>
                    <div class="checkbox333">
                        <div class="form-check form-check-inline">
                            <input  class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label style="font-size:20px;font-weight: 100;margin-top: 7px;color: #3F3A64" class="form-check-label" for="inlineCheckbox1">Qualifications (5)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input  class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label style="font-size:20px;font-weight: 100;margin-top: 7px;color: #3F3A64" class="form-check-label" for="inlineCheckbox2">Online Classes (26)</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label style="font-size:20px;font-weight: 100;margin-top: 7px;color: #3F3A64" class="form-check-label" for="inlineCheckbox3">Workshops (19) </label>
                        </div>
                    </div>
                </div>
                <div class="range">
                    <p style="color: #3F3A64">Price Range</p>
                    <p style="font-weight: 100;font-size: 20px;margin-top: 55px;padding-right: 15px;color: #3F3A64;margin-left: 185px">From</p>
                    <input type="text" id="clearInput" placeholder="$" style="width: 167px;height: 40px;margin-top: 45px;border-radius: 8px;padding-left: 13px;font-size: 20px;padding-top: 6px">
                    <p style="font-weight: 100;font-size: 20px;margin-top: 55px;padding-right: 15px;color: #3F3A64">To</p>
                    <input type="text" id="clearInput1" placeholder="$" style="width: 167px;height: 40px;margin-top: 45px;border-radius: 8px;padding-left: 13px;font-size: 20px;padding-top: 6px">
                </div>
                <div class="only">
                    <p style="color: #3F3A64">Show Bookable Only</p>
                    <label style="margin-left: 80px" class="switch">
                        <input type="checkbox" id="togBtn">
                        <div class="slider round">
                            <span class="on">ON</span>
                            <span class="off">OFF</span>
                        </div>
                    </label>
                    <p style="font-weight: 600;font-size: 20px;margin-top: 55px;padding-right: 15px;margin-left: 170px">Date Range</p>
                    <input type="text" id="clearInput3" placeholder="All" style="width: 240px;height: 40px;margin-top: 45px;border-radius: 8px;font-size: 20px;padding-top: 6px;padding-left: 13px">
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-details">
            <img src="images/imgs_coaching_course/Mask Group 14@2x.jpg" >
            <div class="text">
                <h5>WORKSHOPS <span class="red">(FREE)</span></h5>
                <h3>Behaviour Change Tactics</h3>
                <p>Learn useful strategies to help people get active, and innovative nudge techniques to ensure they stay active</p>
                <a href="http://localhost:2909/Product-details"><button class="content-name"> DEATAILS</button></a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-details">
            <img src="images/imgs_coaching_course/Mask Group 15@2x.jpg" alt="">
            <div class="text">
                <h5>WORKSHOPS <span class="red">(FREE)</span></h5>
                <h3>Coaching Skills for Learner-Centred Conversations</h3>
                <p>Using coaching approaches in your educational conversations will help you support learners to really maximise their potential, as you become an even more effective and inspiring educator. </p>
                <a href="http://localhost:2909/Product-details"> <button class="content-name"> DEATAILS</button></a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-details">
            <img src="images/imgs_coaching_course/Mask Group 16@2x.jpg" >
            <div class="text">
                <h5>WORKSHOPS <span class="red">(FREE)</span></h5>
                <h3>Understand Connect, Thrive: Knowing Your People</h3>
                <p>This online classroom will demonstrate how a commitment to taking a genuine interest in the people at your sessions is crucial to helping them thrive.</p>
                <a href="http://localhost:2909/Product-details"> <button class="content-name"> DEATAILS</button></a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-details">
            <img src="images/imgs_coaching_course/Mask Group 17@2x.jpg" >
            <div class="text">
                <h5>WORKSHOPS <span class="red">(FREE)</span></h5>
                <h3>Level 3 Certificate in Talented Athlete Lifestyle Support</h3>
                <p>Provides introductory knowledge and skills to support practitioners' training in a role of Talented Athlete Lifestyle Advisor, or similar.</p>
                <a href="http://localhost:2909/Product-details"><button class="content-name"> DEATAILS</button></a>
            </div>
        </div>
    </div>


    <div class="example">
        <div class="container">
            <div class="row">

                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<%- include("common_link_js.ejs") %>
<%- include("footer.ejs") %>
<script type="text/javascript">
    var a = 0;
    function show_hide(){
        console.log("la");
        if(a==0)
        {
            document.getElementById("show").style.display="inline";
            return a=1;
        }
        else {
            document.getElementById("show").style.display="none";
            return a=0;
        }
    }
   // xóa checked
    function resetAll(){
        document.getElementById("inlineCheckbox1").checked = false;
        document.getElementById("inlineCheckbox2").checked = false;
        document.getElementById("inlineCheckbox3").checked = false;
        document.getElementById("clearInput").value = "";
        document.getElementById("clearInput1").value = "";
        document.getElementById("togBtn").checked = false;
        document.getElementById("clearInput3").value = "";

    }

</script>
</body>
</html>