<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coaching</title>
    <link rel="stylesheet" href="css/home.css"/>
    <%- include("stylesheet.ejs") %>
</head>
<body>
<div class="app">
    <%- include("head.ejs") %>

    <section class="section">
        <div class="container">
            <!--Content top-->
            <div class="banner-top">
                <img src="images/images_home/content-top.jpg" alt="banner-top" class="banner-top__img"/>
                <div class="banner-top__text">
                    <h1 class="banner-top__heading">It’s time to <b>discover</b> yourself</h1>
                    <div class="banner-top__btn">
                        <a class="banner-top__btn--item banner-top__btn--item-active" href="/coaching-course">OUR COURSE</a>
                        <a class="banner-top__btn--item" href="/register">SIGN UP</a>
                    </div>
                </div>
            </div>

            <!--feature -->
            <div class="feature">

                <div class="row feature-top">
                    <div class="feature-text col-lg-7">
                        <h3 class="">Learn the secrets to Life Success</h3>
                        <p>We develop inspiring coaches to bring #GreatCoaching to the lives of millions</p>
                    </div>
                </div>

                <div class="row feature-main">

                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-1.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Expert Teacher</h4>
                                <p>Always bring you the latest and most up-to-date knowledge and skills</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-2.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Self Development</h4>
                                <p>Develop skills for career of various majors including computer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-3.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Remote Learning</h4>
                                <p>Learn anywhere, anytime. Flexible time, suitable for busy people</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="feature-item">
                            <div class="feature-item--icon">
                                <img src="images/images_home/icon-4.png" alt="feature" class="feature-item-img">
                            </div>
                            <div class="feature-item--text">
                                <h4>Life Time Support</h4>
                                <p>24/7 support. Ready to answer all questions when learning online</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--content about us-->
            <div class="section-about-us">
                <div class="row">
                    <div class="section-about-us-img col-md-6">
                        <img src="images/images_home/img-post-1.jpg" alt="about us home"/>
                    </div>
                    <div class="section-about-us-content col-md-6">
                        <div class="section-about-us-content--text">
                            <h4>SELF DEVELOPMENT COURSE</h4>
                            <h3>Get Instant Access To
                                Expert solution</h3>
                            <p>The ultimate planning solution for busy women who want to reach their personal goals .Effortless comfortable eye-catching unique detail</p>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    High Quality Video Details
                                </li>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    Powerful Audiance
                                </li>
                                <li>
                                    <i class="fa-solid fa-check"></i>
                                    Premium Content Worldwide
                                </li>
                            </ul>
                        </div>
                        <a href="/coaching-course" class="section-about-us-content-link">OUR COURSE</a>
                    </div>
                </div>
            </div>

            <!-- popular-course-->
            <div class="popular-course">
                <div class="row">
                    <div class="popular-course__content">
                        <h4>TRENDING COURSES</h4>
                        <h3>Popular Online Courses Around You</h3>
                        <p>We develop inspiring coaches to bring #GreatCoaching to the lives of millions</p>
                    </div>

                    <div class="popular-course__list">
                        <% for(var i= 0; i < 3; i++){ %>
                        <div class="col-lg-4 col-md-6 col-xl-4">
                            <div class="popular-course__item">
                                <div class="popular-course__item-row">
                                    <div class="popular-course__item--icon">
                                        <img src="<%= course[i].Images %>" alt="feature" class="popular-course__item-img">
                                    </div>
                                    <div class="popular-course__item--text">
                                        <h4><a href="/product-details?id=<%= course[i].ID %>"><%= course[i].Name %></a></h4>
                                        <span class="popular-course__item--point"><%= course[i].Rating %></span>
                                        <p><%= course[i].Review %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>

                    <div class="popular-course__text">
                        <p>Take the control of their life back and start doing things to make their dream come true. View <a href="/coaching-course">all courses.</a></p>
                    </div>
                </div>

            </div>

            <!--Statistical-->
            <div class="statistical">
                <div class="statistical-heading">
                    <h4>MAXIMIZE YOUR POTENTIALS</h4>
                    <h3>We break down barriers so teams can focus on what matters – learning together to create online career you love.</h3>
                </div>

                <div class="statistical-data">
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="statistical-item">
                            <span id="number-1" class="statistical-item--data">90</span>
                            <p>Instructors</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="statistical-item">
                            <span id="number-2" class="statistical-item--data">1450</span>
                            <p>Total Courses</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="statistical-item">
                            <span id="number-3" class="statistical-item--data">569</span>
                            <p>Registered Enrolls</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl-3">
                        <div class="statistical-item">
                            <span id="number-4" class="statistical-item--data">100</span><span style="font-size: 30px; color: #2aabd2; font-weight: 500">%</span>
                            <p>Satisfaction Rate</p>
                        </div>
                    </div>
                </div>
            </div>

            <!--Popular blog-->
            <div class="Popular-blog">
                <div class="row">
                    <div class="popular-course__content">
                        <h4>BLOG NEWS</h4>
                        <h3>Latest From The Blog</h3>
                        <p>We develop inspiring coaches to bring #GreatCoaching to the lives of millions</p>
                    </div>

                    <div class="popular-course__list">
                        <% for (var i = 4; i < 7; i++){ %>
                        <div class="col-lg-4 col-md-6 col-xl-4">
                            <div class="popular-course__item">
                                <div class="popular-course__item-row">
                                    <div class="popular-course__item--icon">
                                        <img src="<%= blog[i].Images %>" alt="feature" class="popular-course__item-img">
                                    </div>
                                    <div class="popular-course__item--text">
                                        <h4><a href="/blog-detail?id=<%= blog[i].ID %>"><%= blog[i].Heading %></a></h4>
                                        <span class="Popular-blog_item-date"><%= blog[i].PostDate %></span>
                                        <a href="/blog-detail?id=<%= blog[i].ID %>" class="popular-course__item--btn">Read</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>

                </div>
            </div>

            <!--form Subscribe-->
            <div class="subscribe-form">
                <div class="subscribe-form-row">
                    <div class="subscribe-form__text">
                        <h4>NEWSLETTER</h4>
                        <h3>Subscribe to get latest news</h3>
                    </div>

                    <div class="subscribe-form--main">
                        <form action="#" method="post">
                            <input type="email" name="email" placeholder="Enter your email" class="subscribe-form--main-input" required/>
                            <button type="submit" class="subscribe-form--main-submit">SUBSCRIBE</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include("footer.ejs") %>

</div>

<%- include("common_link_js.ejs")%>

<script>
    $(document).ready(function (){
        $(".statistical-item--data").counterUp({
            delay: 10,
            time: 1200
        })
    });
</script>
</body>
</html>