<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%- include("stylesheet.ejs") %>
    <link rel="stylesheet" href="/css/coaching_course.css">
    <link rel="stylesheet" href="/css/online_classes.css">
</head>
<body>
<%- include("head.ejs") %>
<section style="width: 1440px;margin: 0 auto;margin-bottom: 80px">
    <%- include("content_top_heading.ejs")%>
    <div class="container">
        <div style="cursor: pointer" class="content-name">
            <h3><%= course[0].Category %></h3>
        </div>
        <form action="/" method="post" class="input">
            <div  class="form-check form-check-inline">
                <input style="font-size: 25px " class="form-check-input" type="checkbox" id="inlineCheckbox1" name="price" value="option1">
                <label style="font-size:20px;font-weight: 100" class="form-check-label" for="inlineCheckbox1" onclick="showProductFree ()">Free (4)</label>
            </div>
            <div class="form-check form-check-inline">
                <input style="font-size: 25px;margin-left: 100px" class="form-check-input" type="checkbox" name="price" id="inlineCheckbox2" value="option2">
                <label style="font-size:20px;font-weight: 100;margin-left: 10px" class="form-check-label" for="inlineCheckbox2">Pay Fee (19)</label>
            </div>
        </form>
    </div>
    <% for (var i = 0; i < course.length; i++) {%>
    <div class="product">
        <div class="product-details">
            <img src="<%= course[i].Images %>" >
            <div class="text">
                <h5><%= course[i].Category %>
                    <span class="red">
                        <% if (course[i].Price == 0){ %>
                            (FREE)
                        <%}else {%>
                            (FEE)
                        <% } %>
                    </span>
                </h5>
                <h3><%= course[i].Name %></h3>
                <p><%= course[i].Overview %></p>
                <a href="/product-details?id=<%= course[i].ID %>"> <button class="content-name"> DEATAILS</button></a>
            </div>
        </div>
    </div>
    <% } %>


    <div class="example">
        <div class="container">
            <div class="row">

                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="/online-class?category=<%= course[0].Category %>&page=1">1</a></li>
                    <li><a href="/online-class?category=<%= course[0].Category %>&page=2">2</a></li>
                    <!--<li><a href="/online-class?category=<%= course[0].Category %>&page=3">3</a></li>-->
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<%- include("footer.ejs") %>

<%- include("common_link_js.ejs") %>
<script>
    var a;
    function show_hide(){
        if(a==1)
        {
            document.getElementById("show").style.display="inline";
            return a=0;
        }
        else {
            document.getElementById("show").style.display="none";
            return a=1;
        }
    }

</script>

<script>
    var product = document.querySelectorAll(".product");
    console.log(product);

    function showProductFree (){
        var free = document.getElementsByClassName('red');
        console.log(free);
        for (var i = 1; i < free.length; i++){
            if (free[i].innerText === "(FEE)"){
                product[i].style.display = 'none';
            }
        }
    }
</script>
</body>
</html>