<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/product_details.css">
    <link rel="stylesheet" href="css/owl.carousel.css"/>
    <%- include("stylesheet.ejs") %>

</head>
<body>
<%- include("head.ejs") %>
<section style="width: 1440px;margin: 0 auto;margin-bottom: 80px;margin-top: 76px;">
    <div style="margin-left: -100px">
        <div class="container1">
            <div style="cursor: pointer" class="content1-name">
                <h3><%= course.Category %></h3>
            </div>
            <div class="text1">
                <h4><%= course.Category %>
                    <span style="color: #C93D5B">
                        <% if (course.Price == 0){ %>
                            (FREE)
                        <%}else {%>
                            (FEE)
                        <% } %>
                    </span>
                </h4>
                <p><%= course.Name %></p>
            </div>
        </div>
        <div class="box2">
             <div class="price">
                 <img  src="images/imgs_product/price.png">
                 <div class="price-text">
                     <p style="font-size: 20px;color: #3F3A64">Price</p>
                     <p style="font-size: 20px;font-weight: 600;color: #61B7B2">$ <%= course.Price %></p>
                 </div>
             </div>
            <div class="instructor">
                <div>
                    <img style="width: 29px;height: 43px" src="images/imgs_product/instructor.png">
                </div>
                <div class="price-text">
                    <p style="font-size: 20px;color: #3F3A64">Instructor :</p>
                    <p style="font-size: 18px;font-weight: 400;color: #3F3A64"><%= instructor.Name %></p>
                </div>
            </div>
            <div class="instructor">
                <img src="images/imgs_product/lectures.png">
                <div class="price-text">
                    <p style="font-size: 20px;color: #3F3A64">Lectures :</p>
                    <p style="font-size: 25px;font-weight: 400;color: #3F3A64"><%= course.Lectures %></p>
                </div>
            </div>
            <div class="instructor">
                <img src="images/imgs_product/enrolled.png">
                <div class="price-text">
                    <p style="font-size: 20px;color: #3F3A64">Enrolled:</p>
                    <p style="font-size: 25px;font-weight: 400;color: #3F3A64"><%= course.Enrolled %></p>
                </div>
            </div>
            <div class="instructor">
                <img src="images/imgs_product/duration.png">
                <div class="price-text">
                    <p style="font-size: 20px;color: #3F3A64">Duration:</p>
                    <p style="font-size: 18px;font-weight: 400;color: #3F3A64"><%= course.Duration %></p>
                </div>
            </div>
            <div class="instructor">
                <img src="images/imgs_product/updated.png">
                <div class="price-text">
                    <p style="font-size: 20px;color: #3F3A64">Updated:</p>
                    <p style="font-size: 18px;font-weight: 400;color: #3F3A64; text-align: right;margin-left: 4px"><%= course.Updated %></p>

                </div>
            </div>
            <div style="cursor: pointer" class="content-name">
                <a href="/online-class-payfee">ENROLL COURSE</a>
                <span style="cursor: pointer;display: block">
                </span>
            </div>
        </div>
        <div class="box">
            <div class="box1">
            <div class="img">
                <img src="<%= course.Images %>">
            </div>
                <div class="tab">
                    <button class="tablinks active">OVERVIEW</button>
                    <button class="tablinks">INSTRUCTOR</button>
                </div>
                <div id="OVERVIEW" class="tabcontent">
                    <h3>Overview</h3>
                    <div class="overview"><%- course.Overview %></div>

                </div>
                <div id="INSTRUCTOR" class="tabcontent">
                    <h3>Instructor</h3>
                    <div class="instructor_main">
                        <div class="instructor_main-img">
                            <img src="<%= instructor.InstructorAvatar %>" >
                        </div>
                        <div class="instructor_main-info">
                            <h4><%= instructor.Name %></h4>
                            <p><%= instructor.Information %></p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="box3">
        <div class="popular-course">
            <div class="row">
                <div class="popular-course__content">
                    <p>Related Courses You may Like</p>
                </div>
                <div class="popular-course__list">
                   <div class="owl-carousel owl-theme">
                       <% for (var i = 0; i < courses.length; i++){ %>
                       <div class="item">
                           <div class="col-md-12 item_row">
                               <div class="popular-course__item">
                                   <div class="popular-course__item-row">
                                       <div class="popular-course__item--icon">
                                           <img src="<%= courses[i].Images %>" alt="feature" class="popular-course__item-img">
                                       </div>
                                       <div class="popular-course__item--text">
                                           <h4><a href="/product-details?id=<%= courses[i].ID %>"><%= courses[i].Name %></a></h4>
                                           <span class="popular-course__item--point">$ <%= courses[i].Price %></span>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <% } %>
                   </div>
                </div>
            </div>
        </div>
    </div>




</section>

<%- include("footer.ejs") %>

<%- include("common_link_js.ejs") %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="js/owl.carousel.js">
</script>
<script>
    var buttons = document.getElementsByClassName('tablinks');
    var contents = document.getElementsByClassName('tabcontent');
    function showContent(id){
        for (var i = 0; i < contents.length; i++) {
            contents[i].style.display = 'none';
        }
        var content = document.getElementById(id);
        content.style.display = 'block';
    }
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("click", function(){
            var id = this.textContent;
            for (var i = 0; i < buttons.length; i++) {
                buttons[i].classList.remove("active");
            }
            this.className += " active";
            showContent(id);
        });
    }
    showContent('OVERVIEW');


</script>
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:20,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:2
            },
            1000:{
                items:3
            }
        }
    })
</script>


</body>
</html>
